<div class="footer">
    <p class="mt-5 mb-3 text-muted">Copyright &copy; jincrates, 2021</p>
</div>


<!--Summernote Editor-->
<!--<script src="/js/summernote/summernote-lite.js"></script>-->
<!--<script src="/js/summernote/lang/summernote-ko-KR.js"></script>-->

<!-- -index.js 추가-->
<script src="/js/app/index.js"></script>

</body>
</html>