{{>layout/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>철학<small>(philosophy)</small>이란 무엇일까? "지혜<small>(sophy)</small>를 사랑하라<small>(philo-)</small>"라는 사전적 정의를 포함하여, <u>제가 생각하는 철학이란 세상과 '소통'하는 학문입니다.</u> 세상의 본질은 무엇이며, 그 안에서 인간은 어떻게 살아야 하는가<small>(How to live)</small>를 고민하고 대화를 나누는 학문입니다.</p>
                <p>그런 점에서 프로그래밍<small>(Programming)</small> 역시도 하나의 철학적 행위로 볼 수 있습니다. 지금 내게 주어진 문제를 어떻게 해결할 것인지, 더 나은 해결책은 없는지를 끊임없이 고민하고 그것을 함께 해결해 나가는 소통의 과정.</p>
                <p>저는 그런 철학있는 개발자가 되고자 합니다.</p>
            </div>
        </div>
    </div>
</main>

{{>layout/footer}}