{{>layout/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="row g-4 py-5 row-cols-1">
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2>Notion</h2>
                            <a href="https://www.notion.so/94jingyu/Jincrates-4330c132bfd740ce9fe6408d0be8f259">
                                <p>http://94jingyu.notion.site/Devlog</p>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2>GitHub</h2>
                            <a href="https://github.com/jincrates">
                                <p>https://github.com/jincrates</p>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="col d-flex align-items-start">
                        <div>
                            <h2>Blog</h2>
                            <a href="https://velog.io/@jincrates">
                                <p>https://velog.io/@jincrates</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{>layout/footer}}