{{>layout/header}}
<style>
    .btn-social-login {
        transition: all .2s;
        outline: 0;
        border: 1px solid transparent;
        padding: .5rem !important;
        border-radius: 50%;
        color: #fff;
        line-height: initial;
    }
    .btn-social-login:focus {
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }
    .text-dark { color: #343a40!important; }
</style>


<!-- Page Header-->
<header class="masthead py-5" style="background-image: url('assets/img/contact-bg.jpg');"></header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <h1>SIGN IN</h1>
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <div class="form-floating">
                            <input class="form-control" id="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <br />
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase disabled w-100" id="submitButton" type="submit">LOGIN</button>
                        <div class="text-end">
                            <a href="/auth/signup" class="btn px-1" style="font-weight: 700" role="button">SIGN UP</a>
                        </div>
                    </form>

                    <div class="social-login text-center py-4" >
                        <span>or sign in with</span>
                        <br /><br />
                        <button class='btn-social-login' style='background:#D93025'><a href="/oauth2/authorization/google"><i class="xi-2x xi-google text-white"></i></a></button>
                        <button class='btn-social-login' style='background:#1FC700'><a href="/oauth2/authorization/naver"><i class="xi-2x xi-naver text-white"></i></a></button>
                        <button class='btn-social-login' style='background:#FFEB00'><a href="/oauth2/authorization/kakao"><i class="xi-2x xi-kakaotalk text-dark"></i></a></button>
                        <button hidden class='btn-social-login' style='background:#4267B2'><i class="xi-2x xi-facebook"></i></button>
                        <button hidden class='btn-social-login' style='background:#55ACEE'><i class="xi-2x xi-twitter"></i></button>
                        <button hidden class='btn-social-login' style='background:#24292E'><i class="xi-2x xi-github"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{>layout/footer}}