<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError { border-color: #bd2130; }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div id='calendar'></div>

    <form role="form" action="/annual/new" th:object="${createAnnual}" method="post">
        <button type="button" class="btn btn-primary" id="btnModal">modal</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">연차등록</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control modalId" type="text" name="usedId" hidden>

                <div class="form-group">
                    <label th:for="reason">사유</label>
                    <input class="form-control modalTitle" type="text" name="reason" placeholder="사유를 입력하세요">
                </div>
                <div class="form-group">
                    <label th:for="startDate">시작일</label>
                    <input class="form-control modalStartDate" type="date" name="startDate">
                </div>
                <div class="form-group">
                    <label th:for="endDate">종료일</label>
                    <input class="form-control modalEndDate" type="date" name="endDate">
                </div>
                <div class="form-group">
                    <label th:for="usedDays">사용일수</label>
                    <input class="form-control modalUsedDays" type="number" name="usedDays" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnRemove">Remove</button>
                <button type="button" class="btn btn-warning btnModify">Modify</button>
                <button type="button" class="btn btn-primary btnSave">Save</button>
                <button type="button" class="btn btn-outline-secondary btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var modal = $('.modal');

        var initialLocaleCode = 'ko';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay'
            },
            initialView: 'dayGridMonth',  //첫화면 기본설정
            themeSystem: 'bootstrap',  //테마
            selectable: true,
            locale: initialLocaleCode,  //다국어
            buttonIcons: false, // show the prev/next text
            weekNumbers: false,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: getList(),
            eventClick: function(info) {
                modal.modal('show');

                $(".modalId").val(info.event._def.extendedProps.usedId);
                $(".modalTitle").val(info.event._def.title);
                $(".modalStartDate").val(dateFormat(info.event._instance.range.start, 0));
                $(".modalEndDate").val(dateFormat(info.event._instance.range.end, -1));
                $(".modalUsedDays").val(between(info.event._instance.range.start, info.event._instance.range.end));
            },
            select: function(info) {
                modal.modal('show');

                $(".modalTitle").val("");
                $(".modalStartDate").val(dateFormat(info.start, 0));
                $(".modalEndDate").val(dateFormat(info.end, -1));
                $(".modalUsedDays").val(between(info.start, info.end));
            },
            eventDragStop: function(info) {
                console.log(info);
                alert('dropped!');
            },
            eventResizeStop: function(info) {
                console.log(info);
                alert('resized!');
            },
        });

        calendar.render();
    });

    function dateFormat(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);

        let month = result.getMonth() + 1;
        let day = result.getDate();
        let hour = result.getHours();

        month = month >= 10 ? month : '0' + month;
        day = day >= 10 ? day : '0' + day;

        return result.getFullYear() + '-' + month + '-' + day;
    }

    function between(startDate, endDate) {
        var sDate = new Date(startDate);
        var eDate = new Date(endDate);
        var btMs = eDate.getTime() - sDate.getTime();

        return btMs / (24 * 60 * 60 * 1000);
    }

    //사용한 일정 리스트 조회
    function getList() {
        var result = "";
        $.ajax({
                method: 'GET',
                url: '/annual/new/json',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function(data) {
                    result = data;
                }
        });

        return result;
    }
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        //모달창
        var modal = $('.modal');

        //object
        $('#btnModal').click(function () {
            modal.modal('show');
        });

        //시작일, 종료일 변경 이벤트
        $("#modalStartDate, #modalEndDate").change(function() {
            var start = $(".modalStartDate").val();
            var end = $(".modalEndDate").val();

            $(".modalUsedDays").val(between(start, end) + 1);
        });

        //모달 Save 버튼
        $('.btnSave').click(function() {
            var dataJson = {
                reason: $('input[name="reason"]').val(),
                usedFromDate: $('input[name="startDate"]').val(),
                usedToDate: $('input[name="endDate"]').val(),
                used: $('input[name="usedDays"]').val(),
            }

            $.ajax({
                method: 'POST',
                url: '/annual/new',
                data: JSON.stringify(dataJson),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    modal.modal('hide');
                }
            });
        });

        //모달 Remove 버튼
        $('.btnRemove').click(function() {
            var id = $('input[name="usedId"]').val();

            $.ajax({
                method: 'DELETE',
                url: '/annual/used/' + id,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    modal.modal('hide');
                }
            });
        });

        //모달 Modify 버튼
        $('.btnModify').click(function() {
            var id = $('input[name="usedId"]').val();
            var dataJson = {
                id: $('input[name="usedId"]').val(),
                reason: $('input[name="reason"]').val(),
                usedFromDate: $('input[name="startDate"]').val(),
                usedToDate: $('input[name="endDate"]').val(),
                used: $('input[name="usedDays"]').val(),
            }

            $.ajax({
                method: 'PUT',
                url: '/annual/used/' + id,
                data: JSON.stringify(dataJson),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    modal.modal('hide');
                }
            });
        });

    });
</script>
</body>
</html>