<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>기준연도</th>
                <th>사용자</th>
                <th>사용일수</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>사유</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="annual : ${annualUsedList}">
                <td th:text="${annual.baseYear}"></td>
                <td th:text="${annual.member}"></td>
                <td th:text="${annual.used}"></td>
                <td th:text="${annual.usedFromDate}"></td>
                <td th:text="${annual.usedToDate}"></td>
                <td th:text="${annual.reason}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>