<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <h2 class="mb-4">
        사원 등록
    </h2>

    <div class="form-group mb-2">
        <label for="username">이름</label>
        <input type="text" id="username" class="form-control" placeholder="이름을 입력해주세요">
    </div>
    <div class="form-group mb-2">
        <label for="email">이메일 주소</label>
        <input type="email" id="email" class="form-control" placeholder="이메일을 입력해주세요">
    </div>
    <div class="form-group mb-2">
        <label for="password">비밀번호</label>
        <input type="password" id="password" class="form-control" placeholder="비밀번호 입력">
    </div>
    <div class="form-group mb-2">
        <label for="joinDate">입사일자</label>
        <input type="date" id="joinDate" class="form-control" placeholder="입사일자 입력">
    </div>
    <div class="form-group mb-2">
        <label for="role">권한</label>
        <select id="role" class="form-control">
            <option value="USER">사용자</option>
            <option value="ADMIN">관리자</option>
        </select>
    </div>
    <div class="form-group mb-2">
        <label for="status">상태</label>
        <select id="status" class="form-control">
            <option value="ACTIVE">사용</option>
            <option value="INACTIVE">사용안함</option>
        </select>
    </div>

    <div style="text-align:center" class="py-3">
        <button type="button" onclick="btnSignUp();" class="btn btn-outline-dark">가입</button>
        <button type="button" class="btn btn-outline-dark" onclick="history.back();">취소</button>
    </div>
</div>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function btnSignUp() {
            const data = {
                username : document.getElementById('username').value,
                email    : document.getElementById('email').value,
                password : document.getElementById('password').value,
                joinDate : document.getElementById('joinDate').value,
                role     : document.getElementById('role').value,
                status   : document.getElementById('status').value
            }

            signup(data);

            alert("회원가입 성공");

            window.location.href = "/login";
        }
    </script>
</th:block>

</html>