<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Man must explore, and this is exploration at its greatest</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2021
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 로그인 버튼 임시-->
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-xl-7">
            <!--로그인 기능 영역-->
            <div class="row">
                <div class="col-md-10">
                    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                    {{#userName}}
                        Logged in as: <span id="user">{{userName}}</span>
                        <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                    {{/userName}}
                    {{^userName}}
                        <a href="/oauth2/authorization/google" class="btn btn-secondary" role="button">GOOGLE</a>
                        <a href="/oauth2/authorization/naver" class="btn btn-success" role="button">NAVER</a>
                        <a href="/oauth2/authorization/kakao" class="btn btn-warning" role="button">KAKAO</a>
                    {{/userName}}
                </div>
            </div>
        </div>
    </div>
</div>