{{>layout/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{post.title}}</h1>
                    <h2 class="subheading">{{post.subtitle}}</h2>
                    <span class="meta">
                        <span class="post-category" hidden>{{post.category}}</span>
                        <a href="#!">{{post.author}}</a>
                        <small class="mx-1">{{post.modifiedDate}}</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{{post.content}}}  <!--Mustache HTML 적용해서 출력할 때-->
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center my-2">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <a href="/" role="button" class="btn btn-secondary">취소</a>
                {{#isAuthor}}
                    <a href="/posts/update/{{post.id}}" role="button" class="btn btn-primary">수정</a>
                    <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
                {{/isAuthor}}
            </div>
        </div>
    </div>
</article>

{{>layout/footer}}