<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>이메일</th>
                <th>입사일</th>
                <th>권한</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.joinDate}"></td>
                <td th:text="${member.role}"></td>
                <td th:text="${member.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>