<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error { color: #bd2130; }
        a { color: black; text-decoration: none; }
    </style>
</th:block>

<div layout:fragment="content">
    <h2 class="mb-4">
        연차 사용
    </h2>

    <div id='calendar' class="my-5"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">사원FK</th>
            <th scope="col">시작일자</th>
            <th scope="col">종료일자</th>
            <th scope="col">사용일수</th>
            <th scope="col">사유</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>사원1</td>
            <td>2022-01-01</td>
            <td>2022-01-03</td>
            <td>3.0</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>사원2</td>
            <td>2022-01-01</td>
            <td>2022-01-01</td>
            <td>0.5</td>
            <td>반차</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>사원3</td>
            <td>2022-01-01</td>
            <td>2022-01-07</td>
            <td>7.0</td>
            <td>휴가</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <!-- modal  -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">연차 사용</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control modalId" type="text" name="usedId" hidden>

                    <div class="form-group">
                        <label th:for="reason">사유</label>
                        <input class="form-control modalTitle" type="text" name="reason" placeholder="사유를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label th:for="startDate">시작일</label>
                        <input class="form-control modalStartDate" type="date" name="startDate">
                    </div>
                    <div class="form-group">
                        <label th:for="endDate">종료일</label>
                        <input class="form-control modalEndDate" type="date" name="endDate">
                    </div>
                    <div class="form-group">
                        <label th:for="usedDays">사용일수</label>
                        <input class="form-control modalUsedDays" type="number" name="usedDays" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btnRemove">Remove</button>
                    <button type="button" class="btn btn-warning btnModify">Modify</button>
                    <button type="button" class="btn btn-primary btnSave">Save</button>
                    <button type="button" class="btn btn-outline-secondary btnClose" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            //모달창
            var modal = $('.modal');

            var initialLocaleCode = 'ko';
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,today,next',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,dayGridDay'
                },
                initialView: 'dayGridMonth',  //첫화면 기본설정
                //themeSystem: 'bootstrap5',  //테마
                selectable: true,
                locale: initialLocaleCode,  //다국어
                buttonIcons: true, // show the prev/next text
                weekNumbers: false,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                //events: getList(),
                eventClick: function(info) {
                    modal.modal('show');

                    $(".modalId").val(info.event._def.extendedProps.usedId);
                    $(".modalTitle").val(info.event._def.title);
                    $(".modalStartDate").val(dateFormat(info.event._instance.range.start, 0));
                    $(".modalEndDate").val(dateFormat(info.event._instance.range.end, -1));
                    $(".modalUsedDays").val(between(info.event._instance.range.start, info.event._instance.range.end));
                },
                select: function(info) {
                    modal.modal('show');

                    $(".modalTitle").val("");
                    $(".modalStartDate").val(dateFormat(info.start, 0));
                    $(".modalEndDate").val(dateFormat(info.end, -1));
                    $(".modalUsedDays").val(between(info.start, info.end));
                },
                eventDrop: function(info) {
                    setInfoData(info);
                    $('.btnModify').click();
                },
                eventResize: function(info) {
                    setInfoData(info);
                    $('.btnModify').click();
                },
            });

            calendar.render();

        });
    </script>
</div>
</html>