<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <h2 class="mb-4">
        연차 현황
    </h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">사원FK</th>
            <th scope="col">근속연수</th>
            <th scope="col">발생월차</th>
            <th scope="col">발생연차</th>
            <th scope="col">조정일수</th>
            <th scope="col">사용일수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>사원1</td>
            <td>0.0</td>
            <td>15.0</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td>사원2</td>
            <td>0.0</td>
            <td>15.0</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>3</td>
            <td>사원3</td>
            <td>0.0</td>
            <td>15.0</td>
            <td>0.0</td>
            <td>0.0</td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

</html>