<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <h2 class="mb-4">
        연차 계산/생성
    </h2>

    <form role="form" method="post" action="/annual/save">
        <div class="form-group mb-2">
            <label th:for="username">이름</label>
            <input type="text" name="username" class="form-control" placeholder="사용자 이름" readonly>
        </div>
        <div class="form-group mb-2">
            <label th:for="email">이메일 주소</label>
            <input type="email" name="email" class="form-control" placeholder="사용자 이메일" readonly>
        </div>
        <div class="form-group mb-2">
            <label th:for="joinDate">입사일자</label>
            <input type="date" name="joinDate" class="form-control" placeholder="입사일자" readonly>
        </div>
        <div class="form-group mb-2">
            <label th:for="baseDate">계산일자</label>
            <input type="date" name="baseDate" class="form-control" placeholder="계산일자">
        </div>
        <div class="form-group mb-2">
            <label th:for="lengthOfService">근속연수</label>
            <input type="number" name="lengthOfService" class="form-control" placeholder="근속연수">
        </div>
        <div class="form-group mb-2">
            <label th:for="hadMonthly">발생월차</label>
            <input type="number" name="hadMonthly" class="form-control" placeholder="발생월차">
        </div>
        <div class="form-group mb-2">
            <label th:for="hadAnnual">발생연차</label>
            <input type="number" name="hadAnnual" class="form-control" placeholder="발생연차">
        </div>


        <div style="text-align:center" class="py-3">
            <button type="submit" class="btn btn-outline-dark">계산</button>
            <button type="submit" class="btn btn-outline-dark">저장</button>
            <button type="button" class="btn btn-outline-dark" onclick="history.back();">취소</button>
        </div>
    </form>
</div>

</html>